@font-face {
    font-family: 'CustomFont';
    src: url('file:///android_asset/font.woff2');
}

body {
    max-width: 100%;
    padding: 1%;
    font-family: 'CustomFont';
    line-height: 1.5;
}

h2 {
    margin-bottom: 0px;
}

p {
    text-align: justify;
}

h2, p {
    color: <%TEXT_COLOR%>;
}

img {
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;
    border-radius: 5px;
}
